.productpage .pc1 {
  position: relative;
  padding-top: 5%;
  display: flex;
  width: 100%;
  justify-content: center;
}

/* go back button */
.productpage .goback {
  position: absolute;
  top: 1rem;
  left: 10px;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: none;
  justify-content: flex-start;
  background: var(--green);
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  align-items: center;
  transition: all 0.5s ease;
  font-weight: 300;
  color: white;
}

.productpage .goback svg {
  width: 25px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.productpage .goback:hover {
  color: var(--green);
  background: #000;
}
/* go back button */

.productpage .pc1 .c1 {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: flex-start;
  gap: 5%;
}
.productpage .pc1 .imgset {
  width: 15%;
  cursor: pointer;
  display: flex;
  gap: 5px 0;
  flex-direction: column;
}
.productpage .pc1 .imgset img {
  transition: all 0.5s ease;
  width: 100%;
  aspect-ratio: 1/1;
}

.productpage .pc1 .active {
  border: 5px solid var(--green);
}
.productpage .pc1 .imgbig {
  display: flex;
  width: 80%;
}
.productpage .pc1 .imgbig img {
  width: 80%;
  aspect-ratio: 1/1;
  border-radius: 5px;
}
.productpage .pc1 .c12 {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.productpage .pc1 .c12 .c121 {
  display: flex;
  justify-content: space-between;
}
.productpage .pc1 .c12 .c121 .price {
  display: flex;
  align-items: center;
  gap: 0 10px;
  font-size: 2rem;
  font-weight: 600;
  color: var(--green);
}
.productpage .pc1 .c12 .c121 .price span {
  font-size: 1.5rem;
  text-decoration: line-through;
  color: gray;
}

.productpage .pc1 .c12 .c121 .btncount {
  display: flex;
  border: 1px solid var(--green);
  justify-content: space-between;
  align-items: center;
  min-width: 150px;
  height: 40px;
  border-radius: 5px;
}

.productpage .c121 .btncount button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: var(--green);
  color: white;
  font-weight: 600;
  transition: all 0.5s ease;
  font-size: 1.5rem;
}

.productpage .c121 .btncount button:hover {
  color: var(--green);
  background: #000;
}

.productpage .c121 .btncount p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0;
}

.productpage .c12 .cartsection {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  gap: 10px;
  align-items: center;
}

.productpage .c12 .cartsection button {
  background: var(--green);
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s ease;
}
.productpage .c12 .cartsection button:hover {
  background: #000;
  color: var(--green);
}

/* product container 2 */
.productpage .pc2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  align-self: center;
}

.productpage .pc2 .tabs {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
}
.productpage .pc2 .tabs .active {
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--green);
  cursor: pointer;
  border-bottom: 2px solid var(--green);
  margin: 0px 10px;
  background: white;
}

.productpage .pc2 .tabs .inactive {
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--gray);
  cursor: pointer;
  border-bottom: 2px solid transparent;
  margin: 0px 10px;
  background: white;
}

.productpage .pc2 .reviewcont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.productpage form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
}

.productpage form .formgroup {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 10px 0px;
}

.productpage .reviewcont form div label {
  font-size: 15px;
  font-weight: 600;
  color: var(--green);
}
.productpage .reviewcont form input,
.productpage .reviewcont form textarea {
  width: 100%;
  border-radius: 5px;
  height: 40px;
  border: 1px solid var(--green);
  padding: 5px;
  margin-bottom: 10px;
}
.productpage .reviewcont form textarea {
  min-height: 100px;
}

.productpage .reviewcont button {
  background: var(--green);
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s ease;
}
.productpage .reviewcont button:hover {
  background: #000;
  color: var(--green);
}

.productpage .allreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  max-width: 700px;
  margin-top: 50px;
}
.productpage .allreview .head1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--green);
  font-weight: 400;
  font-size: 25px;
  color: var(--green);
}

.productpage .allreview .review {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0px;
}

.productpage .reviewhead {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 0;
  position: relative;
}
.productpage .reviewhead p {
  left: 0;
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: var(--green);
}
.productpage .reviewhead .name {
  position: absolute;
  left: 0;
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: var(--green);
}

.productpage .reviewhead span {
  background: var(--green);
  margin: 0;
  padding: 5px;
  text-align: center;
  border-radius: 20px;
  font-size: 15px;
  color: #fff;
}

.productpage .reviewbody {
  font-size: 14px;
}

.productpage .desc {
  width: 70%;
  max-width: 700px;
  align-self: center;
}

.productpage .rating {
  display: flex;
  align-items: center;
  gap: 20px 0px;
  margin: 20px 0px;
}
.productpage .rating .starinactive {
  color: lightgray;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.productpage .rating .starinactive:hover {
  color: var(--green);
}

.productpage .rating .staractive {
  color: gold;
  width: 30px;
  height: 30px;
  cursor: pointer;
  fill: gold;
}
/*  */
.productpage .rating1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 5px;
}
.productpage .rating1 .starinactive {
  color: lightgray;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.productpage .rating1 .starinactive:hover {
  color: var(--green);
}

.productpage .rating1 .staractive {
  color: gold;
  width: 20px;
  height: 20px;
  cursor: pointer;
  fill: gold;
}
.productpage .rating1 .star {
  display: flex;
  align-items: center;
  justify-content: center;
}

