.category_sidebar .category img {
  width: 40px;
  height: 40px;
}
.category_sidebar {
  width: 20%;
  display: flex;
  flex-direction: column;
  border: 1px solid #cecece;
}
.category_sidebar .category {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  border: 1px solid #cecece;
  gap: 10px;
}
.category_sidebar .category h3 {
  font-size: 18px;
  padding: 0;
}

.category:hover {
  background: #80fe74c5;
  cursor: pointer;
}
@media (max-width: 950px) {
  .category_sidebar {
    width: 40%;
    margin: 20px 0px;
  }
}
@media (max-width: 650px) {
  .category_sidebar {
    min-width: 100%;
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: none;
    flex-wrap: wrap;
    gap: 10px;
  }
  .category_sidebar .category {
    font-size: 10px;

    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
  }
}
@media (max-width: 350px) {
  .category_sidebar {
    max-height: 200px;
    overflow-y: scroll;
  }
  .category_sidebar .category {
    min-width: 100%;

    overflow-y: visible;
  }
}
