.paymentcont {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  width: 70%;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.267);
}

.paymenttypes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.paymenttypes .c1 {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.245);
  margin: 10px;
  padding: 20px;
  flex-direction: column;
}
.paymenttypes .c1 img {
  width: 80px;
  height: 50px;
  margin-bottom: 10px;
  object-fit: contain;
}
.paymentagreement {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
}

.paymentcont .c2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 60%;
  margin: 10px;
  font-weight: 300;
  font-size: 20px;
  color: var(--gray);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.245);
  padding: 10px;
}

@media (max-width: 900px) {
  .paymentcont {
    width: 95%;
  }
  .paymentcont h2 {
    font-size: 20px;
  }
  .paymenttypes .c1 {
    width: 25%;
  }
}
@media (max-width: 600px) {
  .paymentagreement label {
    font-size: 12px;
  }
}
