.extrapage {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.pgleft img,
.pgright img {
  height: 50vh;
}
.pgleft {
  display: flex;
}
.pgright {
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-end;
}
.pgcommon {
  width: 80%;
  margin: 80px 80px;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  padding: 20px;
}
.pgcommon div {
  width: 45%;
}

.pgcommon div h1 {
  font-size: 55px;
  font-weight: 400;
  color: var(--green);
  margin: 0 0 10px 0;
  padding: 0;
  letter-spacing: 1px;
}
.pgcommon div p {
  font-size: 16px;
  font-weight: 400;
  color: #2b2323;
  padding: 0;
}

.extrapage svg {
  width: 20px;
}
.extrapage form {
  display: flex;
  align-items: center;
  margin: auto;
}
.extrapage .extrapageform {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.extrapage .extrapageform .formgroup {
  width: 100%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
.extrapage .extrapageform .formgroup input {
  width: 100%;
  height: 2rem;
  margin-top: 5px;
  border: 1px solid var(--green);
}
.extrapage .extrapageform label {
  display: flex;
  color: var(--green);
  font-weight: 600;
  margin-top: 5px;
}
.extrapage .extrapageform textarea {
  height: 100px;
  width: 100%;
  border: 1px solid var(--green);
}
.extrapage .rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px 0px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  transform: (-50%);
}
.extrapage .rating .starinactive {
  color: lightgray;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.extrapage .rating .starinactive:hover {
  color: var(--green);
}

.extrapage .rating .staractive {
  color: gold;
  width: 30px;
  height: 30px;
  cursor: pointer;
  fill: gold;
}
/*  */
.extrapage .rating1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 5px;
}
.extrapage .rating1 .starinactive {
  color: lightgray;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.extrapage .rating1 .starinactive:hover {
  color: var(--green);
}

.extrapage .rating1 .staractive {
  color: gold;
  width: 20px;
  height: 20px;
  cursor: pointer;
  fill: gold;
}
.extrapage .rating1 .star {
  display: flex;
  align-items: center;
  justify-content: center;
}

.extrapage .extrapageform button {
  background: var(--green);
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s ease;
}
.extrapage .extrapageform button:hover {
  background: #000;
  color: var(--green);
}

/*  */

.pgcont1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  align-self: center;
  padding: 40px;
}

.pgcont1 h3 {
  font-size: 24px;
  font-weight: 500;
  color: var(--gray);
  margin-bottom: 10px;
  padding: 0;
  letter-spacing: 1px;
}
.pgcont1 p {
  font-size: 18px;
  font-weight: 400;
  color: rgb(56, 56, 56);
  margin: 0px 0px 10px 0px;
  padding: 0;
  letter-spacing: 1px;
}

/* faq */

.extrapage .faqcontainer {
  width: 60%;
  align-self: center;
  padding: 60px;
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}
.faqcontainer svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.extrapage .faq {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.178);
  border-radius: 10px;
  margin: 10px 0px;
}

.extrapage .faq .faqhead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0px;
}

.extrapage .faqcontainer .faqhead h1 {
  font-size: 20px;
  font-weight: 500;
  color: rgb(56, 56, 56);
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}

.extrapage .faqcontainer .faq p {
  font-size: 15px;
  font-weight: 400;
  color: gray;
  padding: 0;
  letter-spacing: 1px;
  margin: 0;
}
